@model BookingSystem.Models.BookingUserViewModel

@{
    ViewData["Title"] = "Index";

    Dictionary<int, string> comparisonResultsStart = new Dictionary<int, string>(3)
            {
                [-1] = "On Time",
                [0] = "On Time",
                [1] = "Late"
            };
    Dictionary<int, string> comparisonResultsEnd = new Dictionary<int, string>(3)
            {
                [-1] = "Early",
                [0] = "On Time",
                [1] = "On Time"
            };
 
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Bookings" asp-action="Index" method="get">
    <p>
        Event ID Filter
        <select asp-for="BookingEventId" asp-items="Model.BookingEventsIds">
            <option value="">All</option>
        </select>
        Name Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].User!.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event!.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event!.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].Event!.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].EndTime)
            </th>
            
            <th>
                Availability<br /> (Start - End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings![0].IsBooked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bookings!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User!.FullName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event!.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event!.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event!.Description)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => comparisonResultsStart[item.StartTime.TimeOfDay.CompareTo(item.Event.StartTime.TimeOfDay)]) - @Html.DisplayFor(modelItem => comparisonResultsEnd[item.EndTime.TimeOfDay.CompareTo(item.Event.EndTime.TimeOfDay)])
                </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
